.right-panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #f7f9fc;
  height: 100%;
}

.right-panel.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #657786;
}
