.hero-container {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('media/images/globe_image.png');
    min-height: 80vh; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 5rem;

}


.hero-container h1 {
  font-size: 5rem;
  font-weight: 500; 
  color: #333333; 
  line-height: 1.4em;
  
}

.hero-container p {
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
    margin-left: 0.6rem;
}
