.mission-card {
  border-radius: 2rem;
  width: 30rem;
  height: 22rem;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-in-out;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  text-align: center;
}

.mission-card:hover {
  transform: translateY(-10px); 
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4); 
}

.mission-card-icon-div{

   display: flex;
   gap: 1rem;
   padding: 1rem;
   align-items: center;
   justify-content: center;
}

.mission-card-title{
    font-size:1.8rem;
}
.mission-card-para{
    font-size:1.5rem;
    color: gray;

}

