.mission-container{
    padding: 5rem;
    margin-top: 2   rem;
}

.mission-row-1{

    display:"flex";
    flex-direction: column;
    align-items: center;

}

.mission-row-1 h1 {
    font-weight: 600; 
    color: #333333;
    font-size: 4rem;
    text-align: center;
}



.mission-row-1 > p:first-of-type {
    font-size: 1.3rem;
    font-weight: 500; 
    color: #777777;    
    text-transform: uppercase; 
    letter-spacing: 1px;
    margin-top: 2rem;
    text-align: center;

}

.mission-row-1 > p:last-of-type {
    font-weight: normal; 
    color: #555555;     
    line-height: 1.6;    
    margin-top: 2rem;
    font-size: 1.7rem;
    text-align: center;
}

.mission-cards-container {
  display: grid;
  grid-template-columns: repeat(2,auto);
  gap: 2rem;
  justify-content: center; 
  margin-top: 5rem;     
}