.category-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    max-width: 1100px;
    font-family: sans-serif;
    margin-top: 4rem;
}

.category-div h1 {
    grid-column: 1 / -1;
    margin-bottom: 1rem;
    font-size: 2.25rem;
    font-weight: 600;
    color: #1a202c;
}