.help-center-container {
    padding: 8rem;
}


.help-center-container .row {
    align-items: flex-start;
}

.section-title {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: #1a202c;
    font-family: sans-serif;
}


@media (max-width: 991.98px) {
    .col-lg-4 {
        margin-top: 3.5rem;
    }
}

