.my-brand{
    font-size: 2.5rem;
    font-weight: 500;
}

.my-link{
  font-size: 1.8rem;
  color : gray !important; 
  margin-right: 1.5rem;
}


.my-link:hover,
.my-link:active,
.my-link.active{
    color :#0d6efd  !important;
}

.sign-in{
  font-size: 1.5rem !important;
  color: gray;
}

.get-started {
  font-size: 1.5rem !important;
  border-radius: 12px;
  background-color: black;
  color: white ;
}

.get-started:hover{
  background-color: rgb(70, 70, 70);
  color: white !important;
}