.input {
  width: 100%;
  /* height: 2.6 rem; */
  border-radius: 0.375rem;
  border: 1px solid #e2e8f0;
  background: #ffffff;
  padding: 0.5rem 0.75rem;
  font-size: 1.4rem; 
  outline: none;
  transition: all 0.3s;
}

.input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}

.input::placeholder {
  color: #94a3b8;
}

.input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background: #f8fafc;
}

.input[type="file"] {
  cursor: pointer;
  padding: 0.5rem;
}

.input[type="file"]::file-selector-button {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  border: 0;
  font-size: 0.875rem;
  font-weight: 600;
  background: #3b82f6;
  color: #ffffff;
  cursor: pointer;
  transition: background 0.2s;
}

.input[type="file"]::file-selector-button:hover {
  background: #2563eb;
}

