.my-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    margin-bottom: 5rem;
}

.my-row h1{
    font-size: 4rem;
    padding: 5rem;
    text-align: center;
}

.my-row p{
    font-size: 2rem;
    text-align: center;
    margin-top :-3rem

}