.my-container{
    padding: 5rem;
    /* background-color:#f6f6f6; */
    /* margin-bottom: 5rem; */
    background: linear-gradient(to bottom, hsl(0, 0%, 95%), #f9f9f9);
}

.hero-heading{
    font-size: 5rem;
    line-height:8rem;
}

.smart-word{
    color: #0d6efd;
}

.hero-para{
    font-size: 2rem;
}

.my-container-fluid .row .col:first-child { 
  display: flex;
  flex-direction: column;
  /* align-items: flex-end;  */
  justify-content:space-around   ; 
}


.my-container-fluid .row .col:last-child { 
  display: flex;
  align-items: flex-end; 
  justify-content: flex-end; 
}

.video-chat {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.get-started-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 1rem; 
}

.arrow-icon {
  display: inline-flex; 
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.get-started-btn:hover .arrow-icon {
  transform: translateX(5px); 
}